<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.houtai.mapper.ImgMapper">



    <!--查询单个-->
    <select id="queryById" resultType="com.example.houtai.domain.Img">
        select
          id, miaoshu, src, remark, UserId
        from stu.img
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultType="com.example.houtai.domain.Img">
        select
          id, miaoshu, src, remark, UserId
        from stu.img
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultType="com.example.houtai.domain.Img">
        select
          id, miaoshu, src, remark, UserId
        from stu.img
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="miaoshu != null and miaoshu != ''">
                and miaoshu = #{miaoshu}
            </if>
            <if test="src != null and src != ''">
                and src = #{src}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="userid != null">
                and UserId = #{userid}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into stu.img(miaoshu, src, remark, UserId)
        values (#{miaoshu}, #{src}, #{remark}, #{userid})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update stu.img
        <set>
            <if test="miaoshu != null and miaoshu != ''">
                miaoshu = #{miaoshu},
            </if>
            <if test="src != null and src != ''">
                src = #{src},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="userid != null">
                UserId = #{userid},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from stu.img where id = #{id}
    </delete>

</mapper>